* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.box svg {
  display: block;
}

html,
body {
  height: 100%;
  margin: 0;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
}
