body {
  background-color: rgb(255, 243, 243);
  color: #ccc;
  text-align: center;
  padding-top: 20rem;
}

#template,
#path {
  fill: none;
}
#template {
  stroke-width: 5px;
  stroke: #444;
  visibility: hidden;
}
#path {
  stroke: rgb(177, 10, 10);
  stroke-width: 40px;
}
#code,
#value {
  font-size: 2rem;
  font-family: monospace;
}
#code {
  color: #777;
  margin: 20px;
  position: relative;
  visibility: hidden;
}
#current {
  display: inline-block;
  color: white;
}
#description {
  max-width: 530px;
  color: #777;
  font-family: Arial, sans-serif;
  font-size: 1.5rem;
  display: inline-block;
  text-align: left;
}
