* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  margin: 0;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #303026;
}

.palavra {
  font-family: monospace;
  color: white;
  gap: 1px;
}
