html,
body {
  background: black;
}

.box {
  height: 100px;
  width: 100px;
  color: white;
  font-family: monospace;
  font-size: 18px;
  padding: 5px;
  border-radius: 5px;
}
#smooth-content {
  justify-items: center;
}
.title {
  font-family: monospace;
  margin-top: 500px;
  color: white;
}
.boxes {
  display: flex;
  gap: 50px;
}
.box-a {
  background-color: rgb(0, 102, 255);
}
.box-b {
  background-color: rgb(255, 136, 0);
}
.box-c {
  background-color: rgb(67, 146, 3);
}
.line {
  height: 1800px;
}
